.container, .drag, .enter{
    height: 100px;
    width: 300px;
    color: white;
    
}

.container {
    background-color: green;
}

.drag{
    background-color: blue;
}
.enter{
    background-color: orange;
}