.container, .drag, .enter{
    color: white;
    text-align: center;
    font-size: 2rem;
    text-transform:capitalize;
    border-radius: 1rem;
}

.container {
    background-color: green;
}

.drag{
    background-color: blue;
}
.enter{
    background-color: orange;
}