.header{
    display: grid;
    grid-auto-flow: column;
    height: 8rem;
    background-color: forestgreen;

    & a {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 1.2rem;
    }
    .navbar ul{
        display: flex;
        justify-content: space-around;
    }
}