.container {
    margin-inline-start: 1rem;
    height: 5rem;
    background-color: aliceblue;
    border: 1px solid;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'hide comment' '.  reply';
    margin-left: 3rem;

    .commentTitle {
        grid-area: comment;
    }

    & > a {
        grid-area: reply;
    }
}

