.container {
    justify-items: center;
    background-color: lightblue;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    min-height: 15rem;


    & h1 {
        font-size: 1.4rem;
        text-transform: capitalize;
    }

    .form {
        display: grid;
        grid-template-rows: 1fr 1fr 6fr 1fr;
        grid-row-gap: 1rem;
        min-height: 25rem;
        width: 20rem;

        & label {
            text-transform: capitalize;
            align-self: flex-end;
            justify-self: flex-start;
        }

        & input, textarea {
            border-radius: 0.5rem;
        }
        & textarea{
            resize: none;
        }

        & a {
            margin: 0 auto;
            
        }
    }
}
