.container {
    display: grid;
    grid-auto-flow: column;
    height: 10rem;
    background: rgb(252,255,254);
    background: linear-gradient(4deg, rgba(252,255,254,1) 0%, rgba(0,94,255,1) 39%, rgba(255,255,255,1) 100%);
    color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 1rem;
    cursor: move;
    

    & a {
        color: white;
    }
}
