@import '../../styles/_mixin.scss';

.container {
    display: grid;
    grid-row-gap: 1rem;
    width: 90%;
    margin: 0 auto;

    & h1 {
        font-size: 1.4rem;
    }
}
@include s {
    .container {
        width: 100vw;
    }
}