.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;


    .modalContent {
        position: relative;

        .closeButton {
            width: 13px;
            height: 13px;
            position: absolute;
            right: 1rem;
            top: 1rem;


            transform: rotate(45deg) scale(2);

            .top, .bot {
                display: block;
                background: #337AB7;
                position: absolute;
                top: 50%;
                left: 50%;
                animation-timing-function: cubic-bezier(1, 0, 0, 1);
                animation-iteration-count: 1;
            }

            .top {
                height: 100%;
                width: 2px;
                margin-left: -1px;
                transform: skewY(45deg);
                top: 0;
            }

            .bot {
                width: 100%;
                height: 2px;
                margin-top: -1px;
                transform: skewX(-45deg);
                left: 0;
            }

            @-webkit-keyframes top-out {
                from {
                    top: 0%;
                    height: 100%;
                }

                to {
                    top: 200%;
                    height: 0%;
                }
            }

            @keyframes top-out {
                from {
                    top: 0%;
                    height: 100%;
                }

                to {
                    top: 200%;
                    height: 0%;
                }
            }

            @-webkit-keyframes top-in {
                from {
                    top: -100%;
                    height: 0%;
                }

                to {
                    top: 0%;
                    height: 100%;
                }
            }

            @keyframes top-in {
                from {
                    top: -100%;
                    height: 0%;
                }

                to {
                    top: 0%;
                    height: 100%;
                }
            }

            @-webkit-keyframes bot-out {
                from {
                    left: 0%;
                    width: 100%;
                }

                to {
                    left: 200%;
                    width: 0%;
                }
            }

            @keyframes bot-out {
                from {
                    left: 0%;
                    width: 100%;
                }

                to {
                    left: 200%;
                    width: 0%;
                }
            }

            @-webkit-keyframes bot-in {
                from {
                    left: -100%;
                    width: 0%;
                }

                to {
                    left: 0%;
                    width: 100%;
                }
            }

            @keyframes bot-in {
                from {
                    left: -100%;
                    width: 0%;
                }

                to {
                    left: 0%;
                    width: 100%;
                }
            }

            &:hover {
                cursor: pointer;

                .top {
                    animation: top-out 0.25s forwards, top-in 0.25s forwards 0.25s;
                }

                .bot {
                    animation: bot-out 0.25s forwards 0.1s, bot-in 0.25s forwards 0.35s;
                }
            }
        }























        & > button {
            position: absolute;
            inset-inline-end: 0;
            inset-block-start: 0;
            margin-block-start: 0.3rem;
            margin-inline-end: 0.3rem;
        }
    }
}
