.container {
    display: grid;
    grid-row-gap: .5rem;

    & h1 {
        font-size: 1.5rem;
    }

    & > button {
        justify-self: flex-start;
    }

    .commentList {
        display: grid;
        grid-row-gap: 0.5rem;
    }
}
