.dropzone, .dropzoneActive {
    border: 2px dashed rgba(255,255,255,0.2);
    border-radius: 10px;
    padding: 300px ;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255,255,255,0.6);
    background-color: #113;
    color: #ddd;

    .file {
        text-decoration: none;
        color: rgba(255,255,255,0.8);
        display: block;
        background-color: #41415d;
        border-radius: 10px;
        margin-top: 20px;
        padding: 30px;
        position: relative;
        overflow: hidden;
    }

    .progress {
        background-color: rgba(80,80,120, .8);
        position: absolute;
        inset: 0;
        width: 0;
        padding-top: 10px;
        text-align: center;
    }

    .done {
        top: 100px;
    }
}

.dropzoneActive {
    border-color: #fff;
}





